html {
    background-image: url("../_images/work-order-f.png");
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    z-index: 0;
    margin: 0;
    padding: 0;
    opacity: .92;
}
/* Home Button */
#home {
    position: absolute;
    left: 60px;
    top: 25px;
}
/* Table Menu */
#table-header {
    position: absolute;
    left: -30px;
    top: 195px;
}
#table-menu-1 {
    position: absolute;
    left: 50px;
    top: 20px;
}
#table-menu-2 {
    position: absolute;
    left: 50px;
    top: 40px;
}
#table-menu-3 {
    position: absolute;
    left: 50px;
    top: 60px;
}
#table-menu-4 {
    position: absolute;
    left: 50px;
    top: 80px;
}
#table-menu-5 {
    position: absolute;
    left: 50px;
    top: 100px;
}
#table-menu-6 {
    position: absolute;
    left: 50px;
    top: 118px;
}

/* Queries Menu */
#query-header {
    position: absolute;
    left: -30px;
    top: 370px;
}
#query-menu-1 {
    position: absolute;
    left: 50px;
    top: 20px;
}
#query-menu-2 {
    position: absolute;
    left: 50px;
    top: 40px;
}
#query-menu-3 {
    position: absolute;
    left: 50px;
    top: 60px;
}
#query-menu-4 {
    position: absolute;
    left: 50px;
    top: 77px;
}
#query-menu-5 {
    position: absolute;
    left: 50px;
    top: 97px;
}
#query-menu-6 {
    position: absolute;
    left: 50px;
    top: 118px;
}
#query-menu-7 {
    position: absolute;
    left: 50px;
    top: 138px;
}
#query-menu-8 {
    position: absolute;
    left: 50px;
    top: 158px;
}
#query-menu-9 {
    position: absolute;
    left: 50px;
    top: 175px;
}
#query-menu-10 {
    position: absolute;
    left: 50px;
    top: 198px;
}

/* Forms Menu */
#form-header {
    position: absolute;
    left: -30px;
    top: 615px;
}
#form-menu-1 {
    position: absolute;
    left: 50px;
    top: 22px;
}
#form-menu-2 {
    position: absolute;
    left: 50px;
    top: 44px;
}
#form-menu-3 {
    position: absolute;
    left: 50px;
    top: 68px;
}
#form-menu-4 {
    position: absolute;
    left: 50px;
    top: 86px;
}
#form-menu-5 {
    position: absolute;
    left: 50px;
    top: 108px;
}
#form-menu-6 {
    position: absolute;
    left: 50px;
    top: 130px;
}
#form-menu-7 {
    position: absolute;
    left: 50px;
    top: 152px;
}


/* Report Menu */

#report-header {
    position: absolute;
    left: -30px;
    top: 810px;
}
#report-menu-1 {
    position: absolute;
    left: 50px;
    top: 22px;
}
#report-menu-2 {
    position: absolute;
    left: 50px;
    top: 40px;
}
#report-menu-3 {
    position: absolute;
    left: 50px;
    top: 59px;
}
#report-menu-4 {
    position: absolute;
    left: 50px;
    top: 83px;
}
#report-menu-5 {
    position: absolute;
    left: 50px;
    top: 108px;
}

/* Hover */

a:linked {
    display: block;
    width: 203px;
    height: 20px;
    background-color: #ffffff;
} 
a:visited {
    display: block;
    width: 203px;
    height: 20px;
    background-color: #ffffff;
}
a:hover {
    display: block;
    width: 203px;
    height: 20px;
    background-color: #ff0000;
}
